@model WebBasedUI.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}
@*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
<html>
    <head>
        <link href="~/Content/login.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="card">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <h2 class="title">Register Now</h2>
                <br />
                @*<p class="or"><span></span></p>*@
                <div class="email-login">
                    <label for="email"> <b>Email</b></label>
                    @Html.TextBoxFor(m => m.Email, new
                    {
                        @placeholder = "Enter Email",
                        @type = "text"
                    })
                    <label for="firstname"><b>First Name</b></label>
                    @Html.TextBoxFor(m => m.FirstName, new
                    {
                        @placeholder = "First Name",
                        @type = "text"
                    })
                    <label for="lastname"><b>Last Name</b></label>
                    @Html.TextBoxFor(m => m.LastName, new
                    {
                        @placeholder = "Last Name",
                        @type = "text"
                    })

                    <label for="psw"><b>Password</b></label>
                    @Html.PasswordFor(m => m.Password, new
                    {
                           @placeholder = "Enter Password"
                    })
                    <label for="cfmpsw"><b>Confirm Password</b></label>
                    @Html.PasswordFor(m => m.ConfirmPassword, new
                    {
                           @placeholder = "Confirm Password"
                    })
                </div>
                <button value="Register" type="submit" class="cta-btn">Register</button>
            }
        </div>
    </body>
</html>
